*{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
body{
    background: #eee;
}
.container{
    width: 920px;
    margin: 30px auto;
}
.window{
  width: 920px;
  height: 400px;
  overflow: hidden;
}
.images{
  display: flex;
  transition: all 2s;
}
.images > img{
  width: 100%;
}
.buttons{
    background: url(./images/panel.jpg) no-repeat center;
    width: 920px;
}
.buttons button{
    padding: 4px 6px;
    margin-left: 17px;
    margin-right: 17px;
    border-color: #B8A8A8;
    border-radius: 5px;
}
.buttons button.active{
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.51);
}